<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order,</h1>
    <p>
      You have successfully placed your order and we appreciate the money you just sent to us,
      your order number is: <%= @order.id %>.<br>
    </p>
    
    <p>Thanks for existing, we love you and have a great day!</p>
  </body>
</html>